.albums {
	@include make-row();
}

.albums__inner {
	@include make-lg-column(8);
}

.albums__lists {
	padding: 0;
}

.albums__img {
	height: 170px;
	margin-top: 20px;

	&:hover {
		cursor: pointer;
	}
}

.albums__list {
	display: inline-block;
	list-style: none;
	margin-right: 20px;
}
