.albums {
	@include make-row();
}

.albums__inner {
	@include make-lg-column(12);
}

.albums__lists {
	padding: 0;
}

.albums__img {
	height: 180px;
}

.albums__list {
	margin-right: 20px;
	display: inline-block;
	list-style: none;
}