@import './modules/_variables.scss';

.btn {
	background-color: transparent;
	border: 1px solid $green;
	border-radius: 15px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	min-width: 129px;
	padding: 5px 31px;
	transition: 0.2s background-color;

	&:hover {
		background-color: $dark-green;
		color: #fff;
		text-decoration: none;
	}
}

.btn--load-song {
	min-width: 145px;
}

.btn--concert {
	margin: 10px 0;
}
