.concert-track {
	text-align: center;
}

.concert-track__header {
	font-size: 1.5em;
	margin-bottom: 56px;
}

.concert-track__artist {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	padding-bottom: 10px;

	&:hover {
		border-right: 5px solid $green;
		color: $green;
		cursor: pointer;
	}
}

.concert-track__list {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

.concert-track__track {
	margin-bottom: 0;
	padding: 0;
}

.concert-track__item-inner {
	padding: 12px 0;
	text-align: left;
}

.concert-track__list-tracks {
	list-style: none;
	max-height: 0;
	overflow: hidden;
	padding: 0;
	transition: 0.5s max-height;
}

.concert-track__list-tracks--open {
	max-height: 1000px;
	padding: 0;
	transition: 0.5s max-height;
}

.concert-track__user-location {
	color: $green;
}