.concert-track {
	text-align: center;
}

.concert-track__header {
	font-size: 1.5em;
	margin-bottom: 56px;
}

.concert-track__artist {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	padding-bottom: 10px;

	&:hover {
		border-right: 5px solid $green;
		color: $green;
		cursor: pointer;
	}
}

.concert-track__list {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

.concert-track__track {
	margin-bottom: 0;
	padding: 0;
}

.concert-track__item-inner {
	padding: 12px 0;
	text-align: left;
}

.concert-track__list-tracks {
	list-style: none;
	max-height: 0;
	overflow: hidden;
	padding: 0;
	transition: 0.5s max-height;
}

.concert-track__list-tracks--open {
	max-height: 1000px;
	padding: 0;
	transition: 0.5s max-height;
}

.concert-track__user-location {
	color: $green;
}

.concert-track__features-item {
	margin-bottom: 36px;
	text-align: left;
}

.concert-track__features-header-title {
	color: $green;
	margin: 0;
	
	.fa {
		border-radius: 100%;
		color: #fff;
		float: left;
		font-size: 39px;
		height: 65px;
		line-height: 64px;
		margin-right: 20px;
		width: 65px;
	}
}

.concert-track__features-header-title--browse {
	background-color: #64B5F5;
	padding-left: 13px;
}

.concert-track__features-header-title--search {
	background-color: #7E57C2;
	padding-left: 15px;
}

.concert-track__features-header-title--concerts {
	background-color: #FFCA28;
	padding-left: 15px;
}	

.concert-track__features-header-title--tickets {
	background-color: #EF5350;
	padding-left: 13px;
}		