.pagination {
	list-style: none;

	li {
		display: inline-block;
		list-style: none;
		margin-right: 10px;
	}
}

.pagination {
	color: #fff;
	float: right;
}

.pagination__next,
.pagination__prev {
	display: none;
}

.pagination__page-link {
	color: #fff;

	&:hover,
	&:visited,
	&:focus,
	&:active {
		color: $green;
		cursor: pointer;
	}
}

.pagination__active-page {
	color: $green;
}
