.top-tracks__table {
	width: 100%;
}

.top-tracks__td-head {
	background: rgba(255, 255, 255, 0.1);
	padding: 8px;
}

// .top-tracks__tr-tbody:nth-child(odd) {
// 	background-color: rgba(255,255,255,0.5);
// }

.top-tracks__td {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	padding: 8px;
	vertical-align: middle;

	&:last-child {
		text-align: right;
	}
}

.top-tracks__artist,
.top-tracks__feat-artists {
	margin: 0;
}

.top-tracks__feat-artists {
	color: rgba(255, 255, 255, 0.7);
	font-size: 0.7em;
}

.top-tracks__album {
	&:hover {
		//border-bottom: 2px solid white;
		cursor: pointer;
	}
}
