.top-tracks {
	@include make-row();
}

.top-tracks__inner {
	@include make-lg-column(12);
	background: rgba(255,255,255,0.1);
}

.top-tracks__table {
	width: 100%;
}

.top-tracks__td-head {
	padding: 8px;
}

// .top-tracks__tr-tbody:nth-child(odd) {
// 	background-color: rgba(255,255,255,0.5);
// }

.top-tracks__td {
	border-top: 1px solid rgba(255,255,255,0.1);
    padding: 8px;
    vertical-align: middle;

    &:last-child {
    	text-align: right;
    }
}