.upcoming-events {
	@include make-row();
}

.upcoming-events__inner {
	@include make-lg-column(8);
}

.upcoming-events__list {
	padding: 0;
}

.upcoming-events__item {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	list-style: none;
	padding-top: 10px;

	.btn {
		float: right;
	}

	&:last-child {
		border-bottom: none;
	}
}

.upcoming-events__detail {
	display: inline-block;
	width: 89%;
}

.upcoming-events__item-cal,
.upcoming-events__item-name {
	display: inline-block;
	float: left;
}

.upcoming-events__item-cal {
	color: $green;
	height: 48px;
	margin-right: 20px;
	width: 8%;
}

.upcoming-events__item-name {
	margin: 0;
	width: 76%;
}

.upcoming-events__item-address {
	clear: left;
	color: rgba(255, 255, 255, 0.7);
	font-size: 0.7em;
}
